{
    "root": true,
    "extends": ["@react-native-community", "prettier"],
    "parserOptions": {
        "ecmaVersion": 2022
    },
    "rules": {
        "import/no-unresolved": "error",
        "prettier/prettier": [
            "error",
            {
                "quoteProps": "consistent",
                "singleQuote": true,
                "tabWidth": 4,
                "trailingComma": "es5",
                "useTabs": false
            }
        ],
        "react/react-in-jsx-scope": "off",
        "react-hooks/exhaustive-deps": [
            "error",
            {
                "additionalHooks": "(useStyle|useFlatStyle)"
            }
        ]
    },
    "plugins": ["import"],
    "settings": {
        "import/parsers": {
            "@typescript-eslint/parser": [".ts", ".tsx"]
        },
        "import/resolver": {
            "typescript": {
                "alwaysTryTypes": true,
                "project": ["./example/tsconfig.json", "./tsconfig.json"]
            }
        }
    }
}
